Importing pandas library to do data scrapping from Wikipedia

In [1]:
import pandas as pd
import geocoder

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table=pd.read_html(url)

As our desired table is the first table in the page we just need to use **table[0]**

In [3]:
df=pd.DataFrame(table[0])
print("Our initial dataframe's shape: ",df.shape)
df.head()

Our initial dataframe's shape:  (180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Dropping all the cells in Borough column that has value as Not assigned.

In [4]:
df=df[df['Borough']!='Not assigned'].reset_index(drop=True)

Below code cell represents if a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [5]:
idx=df[df['Neighbourhood']=='Not assigned'].index
if len(idx):
    for i in idx:
        df.loc[i,'Neighbourhood']=df.loc[i,'Borough']

Let's see the first 5 rows of dataframe.

In [6]:
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [9]:
print("Our new dataframe's shape is: ",df.shape)
print(f"This dataframe has {df.shape[0]} rows.")

Our new dataframe's shape is:  (103, 3)
This dataframe has 103 rows.